<div class="form-container" *ngIf="user">
    <h2>Edit Information</h2>
    <form (ngSubmit)="editUser()">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" name="name" id="name" required>

        <label for="position">Position</label>
        <input type="text" [(ngModel)]="user.position" name="position" id="position" required>

        <label for="city">City</label>
        <input type="text" [(ngModel)]="user.city" name="city" id="city" required>

        <label for="city">Department</label>
        <input type="text" [(ngModel)]="user.department" name="department" id="department" required>

        <button type="submit">Update</button>
    </form>
</div>