<div class="form-container">
    <h2>Add New User</h2>
    <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" required>

        <label for="position">Position</label>
        <input type="text" formControlName="position" id="position" required>

        <label for="city">City</label>
        <input type="text" formControlName="city" id="city" required>

        <label for="department">Department</label>
        <input type="text" formControlName="department" id="department" required>

        <button type="submit" [disabled]="userForm.invalid">Submit</button>
    </form>
</div>
